_LEARNING-CIRCLE-24 PROJECT_

<h2> Learning-Circle-24 </h2> <p>  Contributors </p>

Analyzing the Chicago crime dataset involves examining various aspects of the data to understand patterns, trends, and characteristics of criminal activities in Chicago. We perform analysis using Python, pandas and visualization libraries using the following steps:

1. Load the Dataset: Load the Chicago crime dataset into a DataFrame.
2. Explore the Dataset: Examine the structure, columns, and basic statistics of the dataset.
3. Data Cleaning: We dropped redundant columns and handle missing values.
4. Visualize Data Distribution: Visualize the distribution of variables using histograms, box plots, or density plots.
5. Identify Outliers: Detect and handle outliers that may affect the analysis.
6. Investigate Relationships: Look for relationships between variables using scatter plots, correlation matrices, or pair plots
7. Investigate Crime Types: Analyze the distribution of different types of crimes.
8. Examine Crime Locations: Investigate the distribution of crimes across different locations.
9. Identify Hotspots: Identify areas with high crime rates.
10. Detect Seasonal Patterns: Look for seasonal patterns or variations in crime rates.
11. Compare Crime Rates: Compare crime rates across different categories such as day of the week, time of day, and month.
12. Summarize and Visualize Insights: Summarize and Visualize the key insights and findings from the analysis using plots and charts.

In [1]:
import pandas as pd

In [2]:
# Set display option 
pd.set_option('display.max.columns', None)

# 1. Loading the dataset

In [3]:
# Load the dataset
chicago_crime_df= pd.read_csv('datasets/chicago1.csv')

# 2. Explore the dataset

In [4]:
#checking the dimensions
chicago_crime_df.shape

(1000, 23)

In [5]:
# Display the first five rows of the dataset
chicago_crime_df.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,0,6407111,HP485721,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,10.0,46.0,14,1196638.0,1848800.0,2008,02/28/2018 03:56:25 PM,41.739980,-87.555120,"(41.739979622, -87.555120042)"
1,1,11398199,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,143C,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,8.0,47.0,15,1184499.0,1843935.0,2018,08/07/2018 04:02:59 PM,41.726922,-87.599747,"(41.726922145, -87.599746995)"
2,2,5488785,HN308568,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,0610,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,39.0,12.0,05,1146911.0,1941022.0,2007,02/28/2018 03:56:25 PM,41.994138,-87.734959,"(41.994137622, -87.734959049)"
3,3,11389116,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,0560,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,28.0,26.0,08A,1148388.0,1899882.0,2018,07/30/2018 03:52:24 PM,41.881217,-87.730590,"(41.881217483, -87.730589961)"
4,4,12420431,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,051A,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,27.0,28.0,04A,1165430.0,1897441.0,2021,07/18/2021 04:56:02 PM,41.874174,-87.668082,"(41.874173691, -87.668082118)"

In [6]:
 # Display column information and data types
chicago_crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1000 non-null   int64
 1   ID                    1000 non-null   int64
 2   Case Number           1000 non-null   object
 3   Date                  1000 non-null   object
 4   Block                 1000 non-null   object
 5   IUCR                  1000 non-null   object
 6   Primary Type          1000 non-null   object
 7   Description           1000 non-null   object
 8   Location Description  999 non-null    object
 9   Arrest                1000 non-null   bool
 10  Domestic              1000 non-null   bool
 11  Beat                  1000 non-null   int64
 12  District              1000 non-null   float64
 13  Ward                  919 non-null    float64
 14  Community Area        919 non-null    float64
 15  FBI Code              1000 non-null   object
 16  X Coordinate          992 non-null    float64
 17  Y Coordinate          992 non-null    float64
 18  Year                  1000 non-null   int64
 19  Updated On            1000 non-null   object
 20  Latitude              992 non-null    float64
 21  Longitude             992 non-null    float64
 22  Location              992 non-null    object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 166.1+ KB

In [7]:
# Display summary statistics of numerical columns
chicago_crime_df.describe()

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,1000.000000,1.000000e+03,1000.000000,1000.000000,919.000000,919.000000,9.920000e+02,9.920000e+02,1000.000000,992.000000,992.000000
mean,499.500000,6.914198e+06,1178.557000,11.202000,22.705114,36.949946,1.164215e+06,1.886010e+06,2009.774000,41.842815,-87.672911
std,288.819436,3.511735e+06,691.469054,6.876226,13.714212,20.878936,1.660808e+04,3.087987e+04,6.203016,0.084946,0.060434
min,0.000000,2.005400e+04,111.000000,1.000000,1.000000,1.000000,1.100658e+06,1.815355e+06,2001.000000,41.648599,-87.905227
25%,249.750000,3.698168e+06,614.000000,6.000000,10.000000,23.000000,1.152368e+06,1.859896e+06,2004.000000,41.770739,-87.715795
50%,499.500000,6.854410e+06,1111.000000,10.000000,22.000000,32.000000,1.165374e+06,1.890540e+06,2009.000000,41.855455,-87.668667
75%,749.250000,1.020281e+07,1722.250000,17.000000,34.000000,53.000000,1.176446e+06,1.909066e+06,2015.000000,41.906502,-87.628120
max,999.000000,1.277362e+07,2535.000000,31.000000,50.000000,77.000000,1.204456e+06,1.951493e+06,2022.000000,42.022522,-87.526993

# 3. Data Cleaning

__1. Use a funtion to Drop redundant columns (a redundant colum is one that gives infromation that another column already explains: eg ID and Case number)__

In [8]:
# Dropping redundant columns
def drop_redundant_columns(df):
    redundant_columns = ['Unnamed: 0','ID', 'Location','Updated On','X Coordinate','Y Coordinate','Community Area','IUCR']
    df.drop(redundant_columns, axis=1, inplace= True)

In [9]:
drop_redundant_columns(chicago_crime_df)

__Reasons for dropping the above columns__
- 'Unnamed: 0': Its just an index for individual row
- 'ID': Unique identifier for the record which is redundant due to the presence of 'Case Number'
- 'Location': This is where the incident occurred in a format that allows for creation of maps and other geographic operation. It's the combination of both latitude and longitude feature of this dataset thus, not required.
- 'Updated On': Holds the date and time the record was last updated.Which is not required for our analysis.
- 'X Coordinate': The x coordinate is a shifted location from the actual location for partial redaction but falls on the same block. Since we have a longitude/latitude and the block where the crime happened, we can neglect this feature.
- 'Y Coordinate': The y coordinate is a shifted location from the actual location for partial redaction but falls on the same block. Since we have a longitude/latitude and the block where the crime happened, we can neglect this feature.
- 'Community Area': This indicates the community area where the incident occurred. Which is not neccessary for our analysis.
- 'IUCR': This is the Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description, it provides information about the primary type and description of crime. Since primary type and description features already exist, it becomes a redundant column

In [10]:
chicago_crime_df.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,FBI Code,Year,Latitude,Longitude
0,HP485721,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,10.0,14,2008,41.739980,-87.555120
1,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,8.0,15,2018,41.726922,-87.599747
2,HN308568,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,39.0,05,2007,41.994138,-87.734959
3,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,28.0,08A,2018,41.881217,-87.730590
4,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,27.0,04A,2021,41.874174,-87.668082

## Handling missing values

In [11]:
chicago_crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Case Number           1000 non-null   object
 1   Date                  1000 non-null   object
 2   Block                 1000 non-null   object
 3   Primary Type          1000 non-null   object
 4   Description           1000 non-null   object
 5   Location Description  999 non-null    object
 6   Arrest                1000 non-null   bool
 7   Domestic              1000 non-null   bool
 8   Beat                  1000 non-null   int64
 9   District              1000 non-null   float64
 10  Ward                  919 non-null    float64
 11  FBI Code              1000 non-null   object
 12  Year                  1000 non-null   int64
 13  Latitude              992 non-null    float64
 14  Longitude             992 non-null    float64
dtypes: bool(2), float64(4), int64(2), object(7)
memory usage: 103.6+ KB

In [12]:
#statistics for each column
chicago_crime_df.describe(include='all')

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,FBI Code,Year,Latitude,Longitude
count,1000,1000,1000,1000,1000,999,1000,1000,1000.000000,1000.000000,919.000000,1000,1000.000000,992.000000,992.000000
unique,1000,999,947,23,126,66,2,2,NaN,NaN,NaN,21,NaN,NaN,NaN
top,HP485721,04/04/2005 09:00:00 PM,046XX N BROADWAY,BATTERY,SIMPLE,STREET,False,False,NaN,NaN,NaN,06,NaN,NaN,NaN
freq,1,2,3,196,114,251,717,853,NaN,NaN,NaN,192,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1178.557000,11.202000,22.705114,NaN,2009.774000,41.842815,-87.672911
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691.469054,6.876226,13.714212,NaN,6.203016,0.084946,0.060434
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.000000,1.000000,1.000000,NaN,2001.000000,41.648599,-87.905227
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,614.000000,6.000000,10.000000,NaN,2004.000000,41.770739,-87.715795
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111.000000,10.000000,22.000000,NaN,2009.000000,41.855455,-87.668667
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1722.250000,17.000000,34.000000,NaN,2015.000000,41.906502,-87.628120
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2535.000000,31.000000,50.000000,NaN,2022.000000,42.022522,-87.526993

In [13]:
# checking missing value count
chicago_crime_df.isnull().sum()

Case Number              0
Date                     0
Block                    0
Primary Type             0
Description              0
Location Description     1
Arrest                   0
Domestic                 0
Beat                     0
District                 0
Ward                    81
FBI Code                 0
Year                     0
Latitude                 8
Longitude                8
dtype: int64

In [14]:
# # Missing Values

# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [15]:
missing_values_table(chicago_crime_df)

Your selected dataframe has 15 columns.
There are 4 columns that have missing values.

                      Missing Values  % of Total Values
Ward                              81                8.1
Latitude                           8                0.8
Longitude                          8                0.8
Location Description               1                0.1

- __Handling Missing values for the ward Column__

In [16]:
# Using the mode to fill up the most common Ward, then replace it with the current Ward column
most_fq_ward = chicago_crime_df.Ward.mode()[0] # indexing the mode to get the value as it returns a series
chicago_crime_df.Ward = chicago_crime_df.Ward.fillna(most_fq_ward)

In [17]:
chicago_crime_df.isna().sum()

Case Number             0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    1
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
FBI Code                0
Year                    0
Latitude                8
Longitude               8
dtype: int64

- __Handling Missing values for the latitude and Longitude Column__ (Using Assosciation) <br>
    - The assumption here is that the latitude and longitude readings are points that show exact location, are closer to eachother within a district. if they are, we can group our data by districts and fill up missing Latitide and longitude values by the median or mode.

In [18]:
chicago_crime_df.District.unique()

array([ 4., 17., 11., 12.,  2., 15., 25., 14.,  8.,  6., 19.,  1.,  7.,
       20., 18.,  3.,  9., 22.,  5., 16., 10., 24., 31.])

In [19]:
chicago_crime_df.groupby('District').get_group(17)[['Longitude', 'Latitude']]

     Longitude   Latitude
2   -87.734959  41.994138
39  -87.724435  41.969395
47  -87.702085  41.946649
61  -87.711568  41.949382
78  -87.711739  41.939300
102 -87.724774  41.940298
122 -87.712670  41.945238
139 -87.711475  41.992542
147 -87.727902  41.963596
163 -87.726081  41.953669
206 -87.713160  41.961846
209 -87.739224  41.967478
249 -87.719441  41.967119
250 -87.744957  41.953443
313 -87.722511  41.966372
320 -87.742701  41.938992
371 -87.711163  41.991017
387 -87.730732  41.955548
399 -87.708328  41.963779
465 -87.708594  41.955732
468 -87.724623  41.939567
512 -87.708325  41.963711
590 -87.724478  41.971023
617 -87.715503  41.958379
625 -87.707978  41.952578
664 -87.723661  41.939136
687 -87.717111  41.971140
749 -87.723238  41.956491
751 -87.738829  41.967207
771 -87.736202  41.965404
783 -87.711114  41.946588
784 -87.724470  41.970669
796 -87.713543  41.940180
840 -87.743966  41.941317
847 -87.728272  41.959119
853 -87.716246  41.941487
882 -87.704379  41.954861
937 -87.713139  41.993934
938 -87.715001  41.983683
986 -87.714742  41.962936

There appears to be closeness in Latitude points when data is grouped based on districts, we can group based on district and fill up with median or mode.

In [20]:
chicago_crime_df['Latitude'] = chicago_crime_df.groupby('District')['Latitude'].transform(lambda x: x.fillna(x.median()))
chicago_crime_df['Longitude'] = chicago_crime_df.groupby('District')['Longitude'].transform(lambda x: x.fillna(x.median()))

In [21]:
chicago_crime_df.isna().sum()

Case Number             0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    1
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
FBI Code                0
Year                    0
Latitude                0
Longitude               0
dtype: int64

In [22]:
chicago_crime_df.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,FBI Code,Year,Latitude,Longitude
0,HP485721,07/26/2008 02:30:00 PM,085XX S MUSKEGON AVE,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,423,4.0,10.0,14,2008,41.739980,-87.555120
1,JB372830,07/31/2018 10:57:00 AM,092XX S ELLIS AVE,WEAPONS VIOLATION,UNLAWFUL POSS AMMUNITION,POOL ROOM,True,False,413,4.0,8.0,15,2018,41.726922,-87.599747
2,HN308568,04/27/2007 10:30:00 AM,062XX N TRIPP AVE,BURGLARY,FORCIBLE ENTRY,RESIDENCE,True,False,1711,17.0,39.0,05,2007,41.994138,-87.734959
3,JB361368,07/23/2018 08:55:00 AM,0000X N KEELER AVE,ASSAULT,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1115,11.0,28.0,08A,2018,41.881217,-87.730590
4,JE297624,07/11/2021 06:40:00 AM,016XX W HARRISON ST,ASSAULT,AGGRAVATED - HANDGUN,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,1231,12.0,27.0,04A,2021,41.874174,-87.668082

- __Handling Missing values for the Location Description__

We have just one missing value for the location description. We can decide to drop the row where location decription is missing or fill this row with the appropriate crime location based on the longitude and latitude.

In [30]:
#determining the row index for the missing location description 
chicago_crime_df[chicago_crime_df['Location Description'].isnull()]

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,FBI Code,Year,Latitude,Longitude
683,JC532816,11/14/2017 08:50:00 AM,004XX W FULLERTON PKWY,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,1812,18.0,43.0,11,2017,41.902213,-87.632919

In [32]:
# dropping the missing location index row
chicago_crime_df.drop(index=683,inplace=True)

In [33]:
chicago_crime_df.isna().sum()

Case Number             0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
FBI Code                0
Year                    0
Latitude                0
Longitude               0
dtype: int64

# 4. Visualize Data Distribution

# 5. Identify Outliers

# 6. Investigate Relationships

# 7. Investigate Crime Types

# 8. Examine Crime Locations

# 9. Identify Hotspots

# 10. Detect Seasonal Patterns

# 11. Compare Crime Rates

# 12. Summarize and Visualize Insights